
.card-main-name {
    margin-top: 80px;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
    color: $dark-desaturated-blue;
}

h1 span {
    margin-left: $radius10;
    font-weight: 300;
    color: $Dark-gray;
}

.card-main-city {
    font-size: 1.4rem;
    text-align: center;
    margin: 10px 0 22px 0px;
    color: $Dark-gray;
}

