$dark-cyan: hsl(185, 75%, 39%);
$dark-desaturated-blue: hsl(229, 23%, 23%);
$Dark-grayish-blue: hsl(227, 10%, 46%);
$Dark-gray: hsl(0, 0%, 59%);
$Dark-gray-border: hsla(0, 0%, 59%, 0.418);
$white: #FFFFFF;
/*END COLORS */

$KumbhSans: 'Kumbh Sans', sans-serif;

/*Fonts */

/*SPACING */
$radius10: 10px;

